* {
    /*RESET CSS. A page zera todas os espaços vazio(definir 1ª)*/
    margin: 0;
    padding: 0;
    /*define que todos elementos dentro da caixa respeitem o tamanho da caixa*/
    box-sizing: border-box;
}

@font-face {
    /*Cria uma fonte*/
    font-family: Titulo;
    src: url(/assets/fontes/ANODETONOONE.TTF);
}

body {
    background-image: url(/assets/imgs/fundo.jpg);
}

h1 {
    font-family: Titulo;
    font-size: 40px;
    color: #F5B041;
}

.container {
    width: 950px;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#fundoGame {
    border: solid #FFE4B5;
    width: 950px;
    height: 625px;
    background-image: url(/assets/imgs/fundo_game.jpg);
}

#inicio {
    width: 350px;
    height: 200px;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
}


/*elementos do jogo*/

#jogador {
    width: 256px;
    height: 66px;
    position: absolute;
    left: 8px;
    top: 179px;
    background-image: url(../imgs/apache.png);
}

#inimigo1 {
    width: 256px;
    height: 66px;
    position: absolute;
    left: 689px;
    top: 253px;
    background-image: url(../imgs/inimigo1.png);
}

#inimigo2 {
    width: 165px;
    height: 70px;
    position: absolute;
    left: 775px;
    top: 447px;
    background-image: url(../imgs/inimigo2.png);
}

#amigo {
    width: 44px;
    height: 51px;
    position: absolute;
    left: 10px;
    top: 464px;
    background-image: url(../imgs/amigo.png);
}


/*helice helicoptero 1*/

.anima1 {
    background-image: url(../imgs/helicoptero.png);
    /*proprieda para criar animação play . quantos segundo vai ter essa animação  e quantos quadro animação vai possuir e que fique em um loop*/
    animation: play .5s steps(2) infinite;
    /*profixo dos browser webkit*/
    -webkit-animation: play .5s steps(2) infinite;
    /*mozilla*/
    -moz-animation: play .5s steps(2) infinite;
    /*opera*/
    -o-animation: play .5s steps(2) infinite;
}


/*helice helicoptero 2*/

.anima2 {
    background-image: url(../imgs/inimigo1.png);
    animation: play .5s steps(2) infinite;
    -webkit-animation: play .5s steps(2) infinite;
    -moz-animation: play .5s steps(2) infinite;
    -ms-animation: play .5s steps(2) infinite;
    -o-animation: play .5s steps(2) infinite;
}

@keyframes play {
    /*primeira posicao*/
    from {
        background-position: 0px;
    }
    /*até*/
    to {
        background-position: -512px;
    }
}


/*webkit*/

@-webkit-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -512px;
    }
}


/*mozila*/

@-moz-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -512px;
    }
}


/*opera*/

@-o-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -512px;
    }
}


/**/

.anima3 {
    background-image: url(../imgs/amigo.png);
    animation: play2 .9s steps(12) infinite;
    -webkit-animation: play2 .9s steps(12) infinite;
    -moz-animation: play2 .9s steps(12) infinite;
    -ms-animation: play2 .9s steps(12) infinite;
    -o-animation: play2 .9s steps(12) infinite;
}

@keyframes play2 {
    from {
        background-position: 0px;
    }
    to {
        background-position: -528px;
    }
}

@-webkit-keyframes play2 {
    from {
        background-position: 0px;
    }
    to {
        background-position: -528px;
    }
}

@-moz-keyframes play2 {
    from {
        background-position: 0px;
    }
    to {
        background-position: -528px;
    }
}

@-o-keyframes play2 {
    from {
        background-position: 0px;
    }
    to {
        background-position: -528px;
    }
}

#disparo {
    width: 50px;
    height: 8px;
    position: absolute;
    background-image: url(../imgs/disparo.png);
}